extends layout

block content
  h3.text-center  List of 10 tweets
  each item in tweets
     div.col-sm-6
        div.media
            a.pull-left(href='#')
                img.media-object(src='#{item.user.profile_image_url}')
            div.media-body
                h4.media-heading @#{item.user.screen_name}
                p #{item.text}
            


