doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/jquery-1.10.2.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body.content
    block content